/* Mobile First */

.topnav {
    overflow: hidden;
    position: relative;
}

/* links hidden becuase of hamburger menu*/
.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* customize hamburger menu */
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* hamburger mouseover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* customize link */
.active {
    color: white;
}

#hero {
    background-image: url(images/001.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
}

#hero .cta1 {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 5px solid #ce2b37;
    border-radius: 30px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .3s ease;
    transition-property: background-color, color;
    opacity: .5;
}

#hero .cta1:hover {
    color: white;
    background-color: #ce2b37;
    opacity: .8;


}

/* .mainimgcontainer {
    display: relative;
}
.cta {
    width: 100%;
    height: auto;
} */

.aboutPic {
    width: 100%;
    height: auto;
}

.buon {
    z-index: 2;
    display: relative;
}

.cta h2 {
    z-index: 2;
}

footer {
    width: 100%;
    background-color: #606060;
}

@media only screen and (min-width:768px) {

* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

html {
        font-family: 'Montserrat', sans-serif;
        scroll-behavior: smooth;
    }

    a {
        text-decoration: none;
    }


.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero {
    background-image: url(images/001.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
}

#hero .cta1 {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 5px solid #ce2b37;
    border-radius: 30px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .3s ease;
    transition-property: background-color, color;
    opacity: .5;
}

#hero .cta1:hover {
    color: white;
    background-color: #ce2b37;
    opacity: .8;


}

h2 {
        margin-top: 0;
        margin-bottom: 20px;
        color: #606060;
        font-size: 240%;
        word-spacing: 4px;
        letter-spacing: 1px;
        text-align: center;
      }

h2:after {
        display: block;
        height: 3px;
        background-color: black;
        content: " ";
        width: 95%;
        margin: 0 auto;
        margin-top: 32px;
        margin-bottom: 32px;
        opacity: .04;
      }
    
nav {

        margin-top: 8px;
        margin-bottom: 8px;
        background-color: #ce2b37;
        overflow: hidden;
      }

    
nav a {
    float: right;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    }

nav a:hover{
    background-color: #009246;
    color: white;
}


h2 {
    margin-top: 32px;
    text-transform: uppercase;
}

.aboutContainer {
    display: flex;
    align-items: center;
}

.aboutContainer p {
    margin: 32px;
}

.aboutPic {
    max-width: 650px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;

}

.locationContainer {
    display: flex;
    align-items: center;
}

.locationInfo {
    margin: 32px;
}

.locationMap {
    margin-left: 30px;
}

}